  <header class="header-container">
    <h3 class="header-title">
      Explore New Games Powered by your Orbit
    </h3>
    <p class="header-message">
      We bring together your favorite games from your libraries and recomend new ones based on trends within the Orbit community.
    </p>
    <p class="header-message">
      You can search, find, and explore a myriad of new and uncharted games. Go Discover.
    </p>
  </header>