  <main class="index-content-container">
    <div class="community-pick-container">
      <div class="community-left">
        <h2 class="community-l-text">
          Community Pick
        </h2>
      </div>
      <%# Divider Here %> 
      <div class="community-right">
        <h2 class="community-r-text">
          Horizon
        </h2>
      </div>
    </div>
    <div class="main-content-container">
      <div class="main-c-left">
        <div class="game-cover"></div>
        <div class="genres">
          <%# Generate Bubbles %> 
          <div class="genre-bubble">Action</div>
          <div class="genre-bubble">Open World</div>
          <div class="genre-bubble">RPG</div>
          <div class="genre-bubble">Post-Apocalyptic</div>
        </div>
      </div>
      <div class="main-c-right">
        <h1 class="game-title">
          Horizon Forbidden West
        </h1>
        <p class="game-description">
          Explore distant lands, fight bigger and more awe-inspiring machines, and encounter astonishing new tribes as you return to the far-future, post-apocalyptic world of Horizon.
        </p>
      </div>
    </div>
    <div class="button-container">
      <button>Add To Orbit</button>
    </div>
    <div class="reviews-container">
      <div class="review-title-container">
        <h1 class="review-t-text">
          Reviews
        </h1>
      </div>
      <div class="review-content-container">
        <div class="reviewer">
          <p>Ben Manely</p>
          <a href="">
            <div class="profile-pic"></div>
          </a>
        </div>
        <div class="review">
          <p><i>Best game ever... Period.</i></p>
        </div>
      </div>
    </div>
  </main>