  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <!-- SEARCH BAR -->
    <div class="nav-search">
      <div class="nav-search-bar">SEARCH</div>
    </div>
    <!-- LOGO -->
    <div class="nav-logo">
      <a href="" class="nav-logo-text">
        <img src="/images/page/orbit.svg" alt="" class="nav-logo-orbit">
        rbit
      </a>
    </div>
    <!-- LINKS -->
    <div class="nav-links">
      <a href="">Games</a>
      <a href="">Community</a>
      <!-- EJS IF ELSE HERE -->
      <a href="">Profile</a>
      <a href="">
        <div class="nav-profile-pic"></div>
      </a>
    </div>
  </nav>
