  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <div class="hamburger-container">
      <div class="h-line"></div>
      <div class="h-line"></div>
      <div class="h-line"></div>
    </div>
    <div class="title-container">
      <h1 class="title">ORBIT</h1>
    </div>
    <%# If user is logged in display profile pic %> 
    <%# If user is not logged in display google button %> 
    <div class="profile-container">
      <a href="">
        <div class="profile-pic"></div>
      </a>
    </div>
  </nav>
