</head>
<body>
  <nav class="h-100 d-flx flx-c lato">
    <div class="d-flx flx-c top-nav">
      <a href="">
        <div class="d-flx flx-c-c fw-700 logo nav-circle">
          <div class="orbit d-flx flx-c-c"></div>
          Orbit
        </div>
      </a>
      <a href="">
        <div class="d-flx flx-c-c nav-circle">
          <%# profile.avatar ? profile.avatar : <Initials>  %> 
            ML
        </div>
      </a>
    </div>
      <%# Seperate Here %> 
    <div class="d-flx flx-c mid-nav">
      <div class="d-flx flx-c-c nav-circle t-center icon">
        <a href=""><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="d-flx flx-c-c nav-circle t-center icon">
        <a href=""><i class="fa-solid fa-search"></i></a>
      </div>
      <div class="d-flx flx-c-c nav-circle t-center icon">
        <a href=""><i class="fa-solid fa-user-group"></i></a>
      </div>
    </div>
    <div 
      class="d-flx flx-c bot-nav" 
      style="visibility: hidden; margin-bottom: 1em;"
    >
      <div class="nav-circle"></div>
      <div class="nav-circle"></div>
    </div>
  </nav>