html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
  font-weight: 400;
  color: white;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  background: url('/images/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: system-ui, -apple-system;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/** ===================== Nav ===================== */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 8vh;
  width: 100vw;
  background-color: #171A21;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid white;
}

.hamburger-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
  margin-left: 1.5rem;
}

.h-line {
  height: 1px;
  background-color: white;
  width: 30px;
}

.title-container {

}

.title {
  font-size: 3.25rem;
  letter-spacing: .25rem;
}

.profile-container {
  margin-right: 1.5rem;
}

.profile-pic {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: white;
}

/** ======================== Header ========================= */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  padding-left: 2.3rem;
  padding-right: .5rem;

  background-color: rgba(0, 0, 0, 0.295);
  border-bottom: 1px solid white;
}

.header-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  font-size: 2.05rem;
  font-weight: 600;
}

.header-message {
  margin: 0;
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: 600;
  line-height: 35px;
}

/** ====================== Index Content ===================== */

.index-content-container {
  
}

.community-pick-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 8vh;

  background-color: #171A21;
  border-bottom: 1px solid white;
}

.community-left {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.5rem;
}

.community-right {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.15rem;
  font-family: 'horizonmedium';
}

.main-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #171A21;
}

.main-c-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
  margin-left: 1rem;
}

.game-cover {
  background-image: url("/images/assets/horizon-cover.png");
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 183px;
}

.genres {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.genre-bubble {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  text-align: center;
  background-color: #5f6609;
  border-radius: 25px;
}

.main-c-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  padding: 1rem;
  margin-right: 1rem;
}

.game-title {
  font-size: 2.15rem;
  font-weight: 600;
  margin: 0;
}

.game-description {
  font-size: 1.25rem;
  line-height: 25px;
}

/* */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #171A21;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button-container > button {
  background-color: rgba(0, 0, 0, 0.363);
  height: 42px;
  width: 120px;
  border: 1px solid white;
  border-radius: 25px;
}

/* */

.reviews-container {
  background-color: #171A21;
}

.review-title-container {
  padding: 1rem 2.25rem;
}

.review-t-text {
  margin: 0;
}

.review-content-container {
  padding-left: 2.25rem;
}

.reviewer {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.review {
  font-size: 1.5rem;
  border-left: 3px solid silver;
  padding: .5rem 1rem;
  background-color: #242330;
}

.review > p {
  margin: 0;
}