html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

/**=================== Colors ======================= */

:root {
  color: white; /*! TESTING */
  --nav-c: linear-gradient(90deg, #223440, #0e1316);
  --nav-c-mobile: linear-gradient(180deg, #223440, #0e1316);
  --nav-c-hover: #556A73;

  --main-c: #F5F6F6;
  --p-info-c: #223440;
  --p-date-c: rgba(255, 255, 255, 0.635);
  --p-c-btn: #987345;
  --p-c-hover: #b68d5b;
  --p-h-links: #223440;
  --p-con-c: #162129;

  --g-c-btn: #987345;
  --g-c-hover: #b68d5b ;
}

/**================ Resets / Boilerplate ========== */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

h2 {
  margin: 0;
}

button {
  all: unset;
}

input {
  border: none;
  border-left: 5px solid white;
  border-radius: 5px;
  padding: .25em .5em;
  font-family: 'Lato';
  font-size: 1em;
  color: white;
  background-color: #735837;
}

input:hover {
  background-color: #927046;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--p-con-c);  /*! TESTING */

  /* Scroll Bar Disable */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none; 
}


/**================ Utility Classes =============== */

/*? ========= FONTS ======== */

.lato {
  font-family: 'Lato';
}

.t-center {
  text-align: center;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/*? ========= FLEX ======== */

.d-flx {
  display: flex;
}

.flx-r {
  flex-direction: row;
}

.flx-rr {
  flex-direction: row-reverse;
}

.flx-c {
  flex-direction: column;
}

.flx-cr {
  flex-direction: column-reverse;
}

/* ============START============= */

/* start start */
.flx-s-s {
  justify-content: flex-start;
  align-items: flex-start;
}

/* start center */
.flx-s-c {
  justify-content: flex-start;
  align-items: center;
}

/* start end */
.flx-s-e {
  justify-content: flex-start;
  align-items: flex-end;
}

/* =============END=========== */

/* end start */
.flx-e-s {
  justify-content: flex-end;
  align-items: flex-start;
}

/* end center */
.flx-e-c {
  justify-content: flex-end;
  align-items: center;
}

/* end end */
.flx-e-e {
  justify-content: flex-end;
  align-items: flex-end;
}

/* =============CENTER=========== */

/* center start */
.flx-c-s {
  justify-content: center;
  align-items: flex-start;
}

/* center center */
.flx-c-c {
  justify-content: center;
  align-items: center;
}

/* center end */
.flx-c-e {
  justify-content: center;
  align-items: flex-end;
}

/*? ========= DIMENSIONS ======== */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

/** ===================== Nav ===================== */

nav {
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 5em;
  background: var(--nav-c);
}

.top-nav {
  justify-self: flex-start;
  gap: 1em;
}

.mid-nav {
  justify-self: flex-start;
  gap: 1em;
}

.bot-nav {
  justify-self: flex-end;
  gap: 1em;
}

/*?================== LOGO ====================*/
.logo {
  position: relative;
  margin-top: 1em; /*! RESPONSIVE*/
}

.orbit {
  position: absolute;
  top: 0;
  left: 0;
  height: .7em;
  width: .7em;
  margin-top: .1em;
  margin-left: .1em;
  border-radius: 50%;
  background: white;
}
/*?============== NAV ELEMENTS =========== */

.nav-circle {
  flex-shrink: 0;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  border: 1px solid white;
}

.nav-circle:hover { /*! FILL ANIMATION */
  background-color: var(--nav-c-hover);
  cursor: pointer;
}

/*? ======== FA ICONS ======== */

.icon {
  
}


/*! ======== NAV MEDIA QUERIES ============ */

 /* Media Query for Mobile Devices */
@media (max-width: 480px) {
  nav {
    height: 5em !important;
    width: 100% !important;
    flex-direction: row !important;
    justify-content: center;
    background: var(--nav-c-mobile) !important;
  }

  .logo {
    margin-top: 0 !important;
  }

  .top-nav {
    flex-direction: row !important;
    justify-self: flex-start;
    gap: 1em;
  }
  
  .mid-nav {
    flex-direction: row !important;
    justify-self: flex-start;
    gap: 1em;
  }
  
  .bot-nav {
    flex-direction: row !important;
    justify-self: flex-end;
    gap: 1em;

    display: none !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    height: 5em !important;
    width: 100% !important;
    flex-direction: row !important;
    justify-content: space-around;
    background: var(--nav-c-mobile) !important;
  }

  .logo {
    margin-top: 0 !important;
  }

  .top-nav {
    flex-direction: row !important;
    justify-self: flex-start;
    gap: 1em;
  }
  
  .mid-nav {
    flex-direction: row !important;
    justify-self: flex-start;
    gap: 1em;
  }
  
  .bot-nav {
    flex-direction: row !important;
    justify-self: flex-end;
    gap: 1em;

    display: none !important;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  nav {
      
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  nav {
      
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  nav {
      
  }
}


/** ======================== Main ===================== */


main {
  height: 100vh;
  width: 100vw;
  margin-left: 5em; /*! RESPONSIVE */
  background: var(--main-c);
  color: black;
}

/** ======================== Index ===================== */

.i-bg {
  background: url('/images/local/horizon.jpg');
  background-size: cover;
  background-position: center;
}




/** ======================== Profile ===================== */

/*? ========== PROFILE BANNER ===========  */
.p-banner {
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  height: 30em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.203), rgba(0, 0, 0, 0.322)), url('/images/local/ml-banner.jpg');
  background-position: center;
  background-size: cover;
  color: var(--main-c);
}

.p-picture {
  position: absolute;
  bottom: -2em;
  flex-shrink: 0;
  height: 15em;
  width: 15em;
  margin-left: 2em; /*! RESPONSIVE */ 
  border-radius: 50%;
  border-style: inset;
  border: 5px solid white;
  background-color: var(--p-info-c); /*! TESTING */
}

.p-picture-text {
  font-size: 5em;
  font-weight: 600;
}

.p-welcome {
  position: absolute;
  right: 0;
  /* margin-top: 2em; */
  margin-right: 1em; /*! RESPONSIVE */ 
  font-style: italic;
  font-size: 3em;
}

/*? ========== PROFILE INFO ===========  */

.p-info {
  justify-content: space-between;
  align-items: flex-start;
  height: 7em;
  background-color: var(--p-info-c);
  color: white;
}

.p-username {
  position: relative;
  width: 20em;
  margin-top: 1em;
  margin-left: 7.5em; /*! RESPONSIVE */
  font-size: 2.25em;
  line-height: 1em;
}

.p-date {
  position: absolute;
  margin-left: .5em; /*! RESPONSIVE */
  font-size: .5em;
  color: var(--p-date-c);
}

.p-button-container {
  gap: 2em;
  margin-top: 1em;
  margin-right: 48px; /*! RESPONSIVE */
}

.p-buttons {
  border: 2px solid white;
  border-radius: 20px;
  padding: .5em 1em;
  background-color: var(--p-c-btn);
  font-size: 1em;
}


.p-buttons:hover {
  background-color: var(--p-c-hover);
  cursor: pointer;
}
#add-friend {

}

#remove-friend {
  background-color: #BF2441;
  cursor: pointer;
}

/*? ========== PROFILE HEADER LINKS ===========  */

.p-h-links {
  align-items: flex-end;
  justify-content: space-between;
  height: 3em;
  background-color: var(--p-h-links);
  color: white;
  font-size: 2em;
}

#orbit {
  margin-left: 200px; /*! RESPONSIVE */
  margin-bottom: .5em;
}

#reviews {
  margin-right: 200px; /*! RESPONSIVE */
  margin-bottom: .5em;
}

/*? ========== PROFILE CONTENT  ===========  */

.p-content {
  height: 100%;
  border-top: 2px solid var(--nav-c-hover) ;
  background-color: var(--p-con-c);
  color: white;
}


/*? ========== PROFILE ORBIT  ===========  */

.p-orbit {
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 200px; /*! RESPONSIVE */
  margin-right: 200px; /*! RESPONSIVE */

}

.orbit-game {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3em;
  border-bottom: 2px solid var(--nav-c-hover);
  border-top: 2px solid var(--nav-c-hover);
  padding-block: 2em;
}

/*? ========== GAME TITLE AND ARTWORK  ===========  */

.game-left {
  gap: 1em;
}

.g-title {
  font-size: 1.5em;
}

/* ============= ART AND GENRE ========== */

.g-art-gen-container {
  justify-content: space-between;
  width: min-content;
  gap: 1em;
}

.g-art {
  flex-shrink: 0;
  height: 150px;
  width:  150px;
  /* background: url('/images/local/horizon-cover.jpg'); */
  background-size: cover;
  background-position: center;
  background-color: white;
}

.g-gen {
  justify-self: flex-start;
  align-self: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

/*! UTILITY?  */
.genre-bubble {
  flex-shrink: 0;
  margin-right: .5em;
  margin-bottom: .5em;
  padding: .25em .5em;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--p-c-btn);
  text-align: center;
}

.genre-bubble:hover {
  background-color: var(--p-c-hover);
  cursor: pointer;
}

/*? ========== GAME DESCRIPTIONS AND BUTTONS ===========  */

.g-btn-description-container {
  gap: 1em
}

.g-button {
  gap: 1em;
}

.g-btn {
  border: 2px solid white;
  border-radius: 20px;
  padding: .5em 1em;
  background-color: var(--g-c-btn);
  font-size: 1em;
}

.g-btn:hover {
  background-color: var(--g-c-hover);
  cursor: pointer;

}

.g-description {
  width: 20em;
  align-self: flex-start;
}



.game-right {

}




/*! ======== PROFILE MEDIA QUERIES ============ */

 /* Media Query for Mobile Devices */
@media (max-width: 480px) {
  #edit {
    margin-top: .5em;
    padding: .5em;
  }

  input {
    font-size: .7em;
    width: 180px;
  }

  .p-save-btn {
    font-size: .7em;
  }

  .p-return-btn {
    font-size: .7em;
  }

  main {
    margin-left: 0 !important;
    margin-top: 5em;
  }

  .p-banner {
    height: 25em;
    color: var(--main-c);
  }

  .p-picture {
    height: 10em;
    width: 10em;
    margin-left: 1em; /*! RESPONSIVE */ 
    background-color: #223A40; /*! TESTING */
  }

  .p-picture-text {
    font-size: 3em;
  }


  .p-welcome {
    right: 0;
    /* margin-top: 2em; */
    margin-right: .5em; /*! RESPONSIVE */ 
    font-size: 1.5em;
  }

  .p-username {
    /* margin-top: 2em; */ /*! RESPONSIVE */
    margin-left: .5em; /*! RESPONSIVE */
    padding: 1em;
    font-size: 1.75em;
  }
  
  .p-button-container {
    margin-right: 16px; /*! RESPONSIVE */
    gap: 1em;
  }
  
  .p-buttons {
    padding: .5em .75em;
  }

  .p-h-links {
    font-size: 1.25em;
  }

  #orbit {
    margin-left: 42px;
  }

  #reviews {
    margin-right: 42px;
  }

  .p-orbit {
    margin-left: 42px;
    margin-right: 42px; 
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  input {
    font-size: .75em;
  }

  .p-save-btn {
    font-size: .7em;
  }

  .p-return-btn {
    font-size: .7em;
  }

  main {
    margin-left: 0 !important; /*! RESPONSIVE */
    margin-top: 5em; /*! RESPONSIVE */
  }

  .p-banner {
    height: 25em;
    background-color: #223A40; /*! TESTING */
    color: var(--main-c);
  }

  .p-picture {
    bottom: -2em;
    height: 10em;
    width: 10em;
    margin-left: 1em; /*! RESPONSIVE */ 
    background-color: #223A40; /*! TESTING */
  }

  .p-picture-text {
    font-size: 3em;
  }

  .p-welcome {
    right: 0;
    margin-top: 2em;
    margin-right: .5em; /*! RESPONSIVE */ 
    font-size: 2.5em;
  }

  .p-username {
    margin-top: 1.35em;
    margin-left: 2em;
    font-size: 2em;
    line-height: 1em;
  }
  
  .p-button-container {
    margin-right: 20px; /*! RESPONSIVE */
    /* font-size: 2em; */
  }

  .p-h-links {
    font-size: 1.25em;
  }

  #orbit {
    margin-left: 64px;
  }

  #reviews {
    margin-right: 64px;
  }

  .p-orbit {
    margin-left: 64px;
    margin-right: 64px; 
  }
}

@media (min-width: 767px) and (max-width: 830px) {
  .p-username {
    margin-top: 1.25em;
    margin-left: 2em;
    font-size: 2em;
  }

  .p-h-links {
    font-size: 1.5em;
  }
  
  #orbit {
    margin-left: 64px;
  }

  #reviews {
    margin-right: 64px;
  }

  .p-orbit {
    margin-left: 64px; 
    margin-right: 64px; 
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 830px) and (max-width: 1024px){
  .p-username {
    margin-left: 7.5em; /*! RESPONSIVE */
    font-size: 2em;
  }
  
  .p-h-links {
    font-size: 1.5em;
  }
  
  #orbit {
    margin-left: 64px;
  }

  #reviews {
    margin-right: 64px;
  }

  .p-orbit {
    margin-left: 64px; 
    margin-right: 64px; 
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  #orbit {
    margin-left: 64px;
  }

  #reviews {
    margin-right: 64px;
  }

  .p-orbit {
    margin-left: 64px; 
    margin-right: 64px; 
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {

}


/** ======================== GAMES  ===================== */

.games-banner {
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  height: 30em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.203), rgba(0, 0, 0, 0.322)), url('/images/local/ml-banner.jpg');
  background-position: center;
  background-size: cover;
  color: var(--main-c);
}

.games-search {
  position: absolute;
  right: 0;
  /* margin-top: 2em; */
  margin-right: 1em; /*! RESPONSIVE */ 
  font-style: italic;
  font-size: 3em;
}

::placeholder {
  color: white;
}

.games-search-form {
  margin-left: 200px; /*! RESPONSIVE */
  margin-right: 200px; /*! RESPONSIVE */
  gap: 1em;
}

.games-search-bar {
  height: 10em;
  background-color: var(--p-info-c);
  color: white;
} 

#search-input {
  width: 85%;
}
#search-btn {
  width: 15%;
}

/** ======================== GAMES SHOW ===================== */

.game-show-banner {
  position: relative;

  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  height: 50em;
  color: white; /*! TESTING */
}

.games-show-title {
  position: absolute;
  right: 0;
  bottom: 0;
  /* margin-top: 2em; */
  margin-right: 48px; /*! RESPONSIVE */ 
  font-style: italic;
  font-size: 3em;
}
.games-show-links-container  {
  margin-right: 48px;
}

.games-show-links-divider {
  border-right: 3px solid var(--nav-c-hover);
}

.game-show-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 1em;
  padding: .5em 1em;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--p-c-btn);
  text-align: center;
  font-size: 1.5em;
}

.game-show-icon:hover {
  cursor: pointer;
  color: var(--g-c-hover);
}



/*! ======== GAMES MEDIA QUERIES ============ */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .games-search-form {
    justify-content: space-around;
    margin-left: 42px; /*! RESPONSIVE */
    margin-right: 42px;
    gap: 1em;
  }
  #search-input {
    width: 80%;
  }
  #search-btn {
    width: 20%;
  }
  .games-show-title {
    font-size: 2.25em;
  }
  .games-show-links-container {
    margin-right: 42px;
    font-size: .6em;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .games-search-form {
    margin-left: 64px; /*! RESPONSIVE */
    margin-right: 64px;
    gap: 1em;
  }
  #search-input {
    width: 80%;
  }
  #search-btn {
    width: 20%;
  }
  .games-show-links-container {
    margin-right: 64px;
    font-size: .7em;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .games-search-form {
    margin-left: 64px; /*! RESPONSIVE */
    margin-right: 64px;
    gap: 1em;
  }
  #search-input {
    width: 80%;
  }
  #search-btn {
    width: 20%;
  }

  .games-show-links-container {
    margin-right: 64px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .games-search-form {
    margin-left: 64px; /*! RESPONSIVE */
    margin-right: 64px;
    gap: 1em;
  }

}

/* Media Query for Large screens */
@media (min-width: 1281px) {

}