<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="h-100 w-100 lato fw-700"
style="height: 100vh; width: 100vw;">
  <div class="w-100 games-banner d-flx">
    <div class="fw-700 games-search">
      Search 
    </div>
  </div>
  <div class="d-flx w-100 lato fw-700 games-search-bar flx-c-c">
    <form 
      action="/games/search" method="POST" 
      class="w-100 d-flx games-search-form" 
      style="justify-content: flex-start; flex-wrap: nowrap;"
    >
      <input name='search' type="text" placeholder="I'm Looking For..." required style="font-size: 1.25em; height: 48px;" id="search-input" type="search">
      <button class="g-btn" style="font-size: 1.25em; text-align: center;" id="search-btn" type="submit">Search</button>
    </form> 
  </div>
  <div class="d-flx w-100 flx-c p-content">
    <div class="p-orbit d-flx flx-c">
    
    </div>
  </div>
</main>
<%- include('../partials/footer') %>